.featureParent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 120px;
  width: 120px;
  filter: brightness(0) invert(1);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
